:root {
  --color1: #5882bd;
  --color2: #b0aa8d;
  --color3: #f74535;
  --color4: #f8f3e0;
  --color5: #f74535;
  --color6: #1b1b1e;
}

body {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 2px solid black;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--color2);
  padding: 5px;
  width: min(300px, 50vw);
}

.screen {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  margin-top: 10px;
  font-size: 2rem;
  text-align: right;
  background-color: var(--color6);
  color: var(--color3);
  padding-right: 4px;
  height: 3.3rem;
  overflow: hidden;
  text-overflow: clip;
  display: flex;
  flex-direction: column;
}

.screen__currencyLabel {
  font-size: 0.9rem;
  margin-top: 2px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button {
  border-radius: 4px;
  margin: 5px;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  border: none;
  box-shadow: 0 5px #999;
  background-color: var(--color4);
}

.button:active {
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

.button:disabled {
  box-shadow: 0 3px #666;
  transform: translateY(2px);
  color: black;
}

.button__blue {
  background-color: var(--color1);
}

.button__red {
  background-color: var(--color5);
}

.conversionButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logo {
  padding: 10px;
  width: min(100px, 15vw);
  background-color: rgba(245, 245, 245, 0.659);
  border-radius: 4px;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}
